<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="disrex_stylesmuggler" translate="label" sortOrder="900" showInDefault="1"
                 showInWebsite="0" showInStore="0">
            <label>StyleSmuggler Guard</label>
            <tab>advanced</tab>
            <resource>Disrex_StyleSmugglerGuard::config</resource>
            <group id="guard" translate="label" type="text" sortOrder="10" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <label>Interim guards (remove once Adobe patches)</label>
                <field id="template_styles_sanitizer_enabled" translate="label comment" type="select"
                       sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sanitise email template styles</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Rejects styles containing template directives, PHP tags or a class namespace. Legitimate styles are plain CSS.</comment>
                </field>
                <field id="block_directive_allowlist_enabled" translate="label comment" type="select"
                       sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Block DI/Setup {{block}} directives</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Rejects {{block}} directives that name a DI/Setup/Code namespace.</comment>
                </field>
                <field id="log_poison_hygiene_enabled" translate="label comment" type="select"
                       sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Strip PHP tags from store-not-found errors</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Prevents an invalid store code from writing PHP into the log.</comment>
                </field>
                <field id="payment_failure_containment_enabled" translate="label comment" type="select"
                       sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Suppress failed-payment emails (trade-off)</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>DEFAULT OFF. Removes one trigger path, but the merchant stops receiving legitimate failed-payment notifications. Only enable with the merchant's agreement.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
